{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Expense List</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            <tbody>
                {%for expense in expenses%}
                    <tr>
                        <td>{{expense.name}}</td>
                        <td>{{expense.receipts.all|length}}</td>
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
    </main>
{% endblock content %}